@{
    ViewData["Title"] = "Contactenos";
}
<h1>@AliciaEnElMundoVegano.Resources.Contact.PageTitle</h1>
<div class="panel panel-default text-center">
    <div class="panel-body">
<div class="row marketing" >
    <div class="col-lg-6">
        <h4>@AliciaEnElMundoVegano.Resources.Contact.Heading1</h4>
        <a class="linked" href="mailto:aliciaenelmundovegano@gmail.com" target="_blank" style="font-size:16px;">@AliciaEnElMundoVegano.Resources.Contact.Contact1</a>
        <h4>@AliciaEnElMundoVegano.Resources.Contact.Heading2</h4>
        <p>@AliciaEnElMundoVegano.Resources.Contact.Contact2 <a class="linked" href="https://www.facebook.com/pg/AliciaEnElMundoVegano" target="_blank">@AliciaEnElMundoVegano.Resources.Contact.Link</a></p>

        <h4>@AliciaEnElMundoVegano.Resources.Contact.Heading3</h4>
        <p>@AliciaEnElMundoVegano.Resources.Contact.Contact3 <a class="linked" href="https://twitter.com/AliciaMundoV" target="_blank">@AliciaEnElMundoVegano.Resources.Contact.Link</a></p>
    </div>

    <div class="col-lg-6">
        <h4>@AliciaEnElMundoVegano.Resources.Contact.Heading4</h4>
        <p>@AliciaEnElMundoVegano.Resources.Contact.Contact4 <a data-toggle="modal" data-target="#myModal" class="linked">@AliciaEnElMundoVegano.Resources.Contact.Link</a></p>
        
          

            <!-- Modal -->
            <div class="modal fade" id="myModal" role="dialog">
                <div class="modal-dialog">

                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>
                        <div class="modal-body">
                            <img src="~/wwwroot/images/snapcode.svg" alt="Snap Code" style="width:auto; height:auto;" class="img-responsive"/>
                        </div>
                        
                    </div>

                </div>
            </div>
            <h4>@AliciaEnElMundoVegano.Resources.Contact.Heading5</h4>
            <p>@AliciaEnElMundoVegano.Resources.Contact.Contact5 <a class="linked" href="https://www.youtube.com/channel/UCjFP0YzqjXbMb5uc8zM5ALw?view_as=subscriber" target="_blank">@AliciaEnElMundoVegano.Resources.Contact.Link</a></p>

            <h4>@AliciaEnElMundoVegano.Resources.Contact.Heading6</h4>
            <p>@AliciaEnElMundoVegano.Resources.Contact.Contact6 <a class="linked" href="https://www.instagram.com/aliciamundov/" target="_blank">@AliciaEnElMundoVegano.Resources.Contact.Link</a></p>
</div>
</div>
 </div>       
</div>
